<div class="black-overlay signin-popup">
    <div id="login_frame" style="padding:20px;">
        <h2>登录</h2>
        <div style="display: block;" class="login" >
            <form>
                <input type="text" name="email" placeholder="账号" class="form-control">
                <input name="password" type="password" placeholder="密码" class="form-control">
            </form>
            <button ng-click="dismissModal()" class="btn btn-primary btn-block" style="margin: 20px 0 10px;"><span class="text">确认</span></button>
            <button href="#" ng-click="dismissModal()" class="btn btn-default btn-block" style="margin: 0 0 20px;"><span class="text">取消</span></button>
        </div>
    </div>
</div>