<div class="black-overlay signin-popup">
    <div id="login_frame" style="padding:20px;">
        <h2>注册</h2>
        <div style="display: block;" class="login" >
            <form name="code_form" novalidate ng-show="step==1">
                <input type="email" name="email" ng-model="Email" placeholder="邮箱" class="form-control" required>
                <button ng-click="getSecurityCode()" ng-disabled="code_form.$invalid" class="btn btn-primary btn-block" style="margin: 20px 0 10px;">下一步</button>
            </form>
            <form name="signup_form" novalidate ng-show="step==2">
                <input type="text" name="username" ng-model="Username" placeholder="账号" class="form-control" required>
                <input name="password" type="password" ng-model="Password" placeholder="密码" class="form-control" required>
                <input name="confirmPassword" type="password" ng-model="ConfirmPassword" placeholder="确认密码" class="form-control" required>
                <input type="text" name="securityCode" ng-model="SecurityCode" placeholder="验证码" class="form-control" required>
                <button ng-click="signup()" ng-disabled="Password != ConfirmPassword || signup_form.$invalid" class="btn btn-primary btn-block" style="margin: 20px 0 10px;">确认</button>
                <button ng-click="dismissModal()" class="btn btn-default btn-block" style="margin: 0 0 20px;">取消</button>
            </form>
        </div>
    </div>
</div>