<!doctype html>
<html ng-app="pintree">
    <head>
        <meta charset="utf-8">
        <title>Pintree</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="shortcut icon" type="image/ico" href="favicon.ico">
        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css" />
        <!-- endbower -->
        <link rel="stylesheet" href="bower_components/slick-carousel/slick/slick.css" />
        <link rel="stylesheet" href="bower_components/slick-carousel/slick/slick-theme.css" />
        <!-- endbuild -->

        <!-- build:css({.tmp,app}) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
    </head>
    <body ng-controller="MainCtrl">
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.close()" style="top:{{10 + $index * 60}}px;">
            <span ng-bind-html="alert.msg"></span>
        </alert>

        <header>
            <div class="wrapper">
                <img class="logo" src="images/index_update_streams/u4.png">
                <div class="search-input-wrapper">
                    <input class="search-input" ng-model="Keyword" ng-keydown="$event.keyCode == 13 && doSearch()" placeholder="搜你喜欢的...">
                    <a class="btn-search" ng-click="doSearch()"></a>
                </div>
                <span ng-if="!user">
                    <a class="link-signup" ng-click="showSignUpModal()">注册</a>
                    <a class="link-signin" ng-click="showLogInModal()">登录</a>
                </span>
                <span ng-if="user">
                    <a class="link-signup" ng-click="logout()">注销</a>
                    <a class="link-signup">{{user.Username}}</a>
                </span>
            </div>
        </header>
        <div id="wrapper">
            <div class="quick-search-bar" ng-show="!searchParams.keyword" ng-click="setKeyword($event.target)">
                <div class="wrapper">
                    <a class="search-tag" search-link="{{k.Word}}" ng-repeat="k in vegetations">{{k.Word}}</a>
                </div>
            </div>

            <div class="search-bar-wrapper">
                <div class="wrapper">
                    <advanced-search-filter on-submit="doAdvancedSearch(params)"></advanced-search-filter>
                </div>
            </div>
            <div id="mainNav">

            </div>
            <div id="mapCt" class="container" ng-view=""></div>
            <div class="footer">© Copyright 2016</div>
        </div>

        <!-- build:js scripts/vendor.js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/jquery-bridget/jquery-bridget.js"></script>
        <script src="bower_components/ev-emitter/ev-emitter.js"></script>
        <script src="bower_components/desandro-matches-selector/matches-selector.js"></script>
        <script src="bower_components/fizzy-ui-utils/utils.js"></script>
        <script src="bower_components/get-size/get-size.js"></script>
        <script src="bower_components/outlayer/item.js"></script>
        <script src="bower_components/outlayer/outlayer.js"></script>
        <script src="bower_components/masonry/masonry.js"></script>
        <script src="bower_components/imagesloaded/imagesloaded.js"></script>

        <!-- bower:js -->
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/modernizr/modernizr.js"></script>
        <script src="bower_components/lodash/lodash.js"></script>
        <script src="bower_components/restangular/dist/restangular.js"></script>
        <script src="bower_components/moment/moment.js"></script>
        <script src="bower_components/angular-moment/angular-moment.js"></script>
        <script src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
        <!-- endbower -->
        <script src="bower_components/angular-modal-service/dst/angular-modal-service.min.js"></script>
        <script src="bower_components/angular-masonry/angular-masonry.js"></script>
        <script src="bower_components/angular-i18n/angular-locale_zh-cn.js"></script>
        <script src="bower_components/slick-carousel/slick/slick.js"></script>
        <script src="lib/jquery-ui-custom/jquery-ui.js"></script>
        <!-- endbuild -->

        <!-- Any include make it between the build comments below -->
        <!-- build:js({app,.tmp}) scripts/main.js -->
        <script src="scripts/mainApp.js"></script>

        <script src="scripts/services/vegetationService.js"></script>
        <script src="scripts/services/userService.js"></script>
        <script src="scripts/services/authService.js"></script>
        <script src="scripts/services/alertService.js"></script>

        <script src="scripts/directives/detailModalViewer.js"></script>
        <script src="scripts/directives/advancedSearchFilter.js"></script>
        <script src="scripts/directives/signInLink.js"></script>

        <script src="scripts/filters/sampleFilter.js"></script>

        <script src="scripts/controllers/mainController.js"></script>
        <script src="scripts/controllers/searchController.js"></script>
        <script src="scripts/controllers/loginController.js"></script>
        <script src="scripts/controllers/signUpController.js"></script>

        <script src="scripts/utility/constant.js"></script>
        <script src="scripts/utility/util.js"></script>
        <!-- inject:partials -->
        <!-- endinject -->
        <!-- endbuild -->

    </body>
</html>
