<div class="search-row">
    <div class="title">类别</div>
    <div class="keyword-list">
        <span class="keyword">全部</span>
        <span class="keyword">乔木</span>
        <span class="keyword">花卉（一、二年生及宿根）</span>
        <span class="keyword">棕榈类</span>
        <span class="keyword">灌木</span>
        <span class="keyword">地被</span>
        <span class="keyword">爬藤</span>
        <span class="keyword">观赏草及竹类</span>
    </div>
    <a class="toggle-advance" ng-click="toggleStatus()">高级筛选</a>
</div>
<div class="divider"></div>
<div ng-if="showAdvanced">
    <div class="search-row">
        <div class="title">气候带</div>
        <div class="option-list">
            <span class="option"><label><input type="checkbox" value="1" >寒温带</label></span>
            <span class="option"><label><input type="checkbox" value="1" >中温带</label></span>
            <span class="option"><label><input type="checkbox" value="1" >暖温带</label></span>
            <span class="option"><label><input type="checkbox" value="1" >北亚热带</label></span>
            <span class="option"><label><input type="checkbox" value="1" >中亚热带</label></span>
            <span class="option"><label><input type="checkbox" value="1" >南亚热带</label></span>
            <span class="option"><label><input type="checkbox" value="1" >边缘热带</label></span>
            <span class="option"><label><input type="checkbox" value="1" >中热带</label></span>
            <span class="option"><label><input type="checkbox" value="1" >高原寒带</label></span>
            <span class="option"><label><input type="checkbox" value="1" >高原温带</label></span>
        </div>
    </div>
    <div class="divider"></div>
    <div class="search-row">
        <div class="title">体量</div>
        <div class="option-list">
            <span class="option"><label><input type="checkbox" value="1" >大</label></span>
            <span class="option"><label><input type="checkbox" value="1" >中</label></span>
            <span class="option"><label><input type="checkbox" value="1" >小</label></span>
        </div>
    </div>
    <div class="divider"></div>
    <div class="search-row">
        <div class="title">气候带</div>
        <div class="option-list">
            <span class="option"><label><input type="checkbox" value="1" >常绿</label></span>
            <span class="option"><label><input type="checkbox" value="1" >落叶</label></span>
            <span class="option"><label><input type="checkbox" value="1" >半落叶</label></span>
        </div>
    </div>
    <div class="divider"></div>
    <div class="search-row">
        <div class="title">常绿</div>
        <div class="option-list">
            <span class="option"><label><input type="checkbox" value="1" >常绿</label></span>
            <span class="option"><label><input type="checkbox" value="1" >落叶</label></span>
            <span class="option"><label><input type="checkbox" value="1" >半落叶</label></span>
        </div>
    </div>
    <div class="divider"></div>
    <div class="search-row">
        <div class="title">肌理</div>
        <div class="option-list">
            <span class="option"><label><input type="checkbox" value="1" >中等</label></span>
            <span class="option"><label><input type="checkbox" value="1" >粗糙</label></span>
            <span class="option"><label><input type="checkbox" value="1" >细腻</label></span>
        </div>
    </div>
    <div class="divider"></div>
    <div class="search-row">
        <div class="title">线条</div>
        <div class="option-list">
            <span class="option"><label><input type="checkbox" value="1" >直线</label></span>
            <span class="option"><label><input type="checkbox" value="1" >弯曲</label></span>
            <span class="option"><label><input type="checkbox" value="1" >下垂</label></span>
        </div>
    </div>
    <div class="divider"></div>
    <div class="search-row">
        <div class="title">主观赏性</div>
        <div class="option-list">
            <span class="option"><label><input type="checkbox" value="1" >观花</label></span>
            <span class="option"><label><input type="checkbox" value="1" >观叶</label></span>
            <span class="option"><label><input type="checkbox" value="1" >观枝</label></span>
        </div>
    </div>
    <div class="divider"></div>
    <div class="search-row">
        <div class="title">叶色</div>
        <div class="option-list">
            <span class="color-select checked" style="background-color: rgb(102, 204, 153);"></span>
            <span class="color-select" style="background-color: rgb(204, 153, 0);"></span>
            <span class="color-select" style="background-color: rgb(102, 153, 51);"></span>
            <span class="color-select" style="background-color: rgb(0, 102, 0);"></span>
            <span class="color-select" style="background-color: rgb(153, 51, 0);"></span>
            <span class="color-select" style="background-color: rgb(255, 153, 0);"></span>
            <span class="color-select" style="background-color: rgb(204, 153, 0);"></span>
            <span class="color-select" style="background-color: rgb(0, 153, 204);"></span>
        </div>
    </div>
    <div class="divider"></div>
    <div class="search-row">
        <div class="title">花色</div>
        <div class="option-list">
            <span class="color-select checked" style="background-color: rgb(102, 204, 153);"></span>
            <span class="color-select" style="background-color: rgb(204, 153, 0);"></span>
            <span class="color-select" style="background-color: rgb(102, 153, 51);"></span>
            <span class="color-select" style="background-color: rgb(0, 102, 0);"></span>
            <span class="color-select" style="background-color: rgb(153, 51, 0);"></span>
            <span class="color-select" style="background-color: rgb(255, 153, 0);"></span>
            <span class="color-select" style="background-color: rgb(204, 153, 0);"></span>
            <span class="color-select" style="background-color: rgb(0, 153, 204);"></span>
        </div>
    </div>
    <div class="divider"></div>
    <div class="search-row">
        <div class="title">花期</div>
        <div class="option-list">
            <span class="option"><label><input type="checkbox" value="1" >1</label></span>
            <span class="option"><label><input type="checkbox" value="1" >2</label></span>
            <span class="option"><label><input type="checkbox" value="1" >3</label></span>
            <span class="option"><label><input type="checkbox" value="1" >4</label></span>
            <span class="option"><label><input type="checkbox" value="1" >5</label></span>
            <span class="option"><label><input type="checkbox" value="1" >6</label></span>
        </div>
    </div>
    <div class="divider"></div>
    <div class="search-row">
        <div class="title">喜光性</div>
        <div class="option-list">
            <span class="option"><label><input type="checkbox" value="1" >全日照</label></span>
            <span class="option"><label><input type="checkbox" value="1" >半日照</label></span>
            <span class="option"><label><input type="checkbox" value="1" >阴影</label></span>
            <span class="option"><label><input type="checkbox" value="1" >任意</label></span>
        </div>
    </div>
    <div class="divider"></div>
    <div class="btn-bar">
        <button class="btn btn-primary" ng-click="ok()">确定</button>
        <button class="btn btn-secondary" ng-click="cancel()">取消</button>
    </div>
</div>