<div class="search-row">
    <div class="title">类别</div>
    <div class="keyword-list">
        <span class="keyword" name="PlantType" ng-class="{selected: params.PlantType && params.PlantType.indexOf(opt)>-1}"
              ng-click="togglePlantType(opt)" ng-repeat="opt in plantTypeOpts">{{opt}}</span>
    </div>
    <a class="toggle-advance" ng-click="toggleStatus()">高级筛选</a>
</div>
<div class="divider"></div>
<div ng-if="showAdvanced">
    <div class="search-row">
        <div class="title">气候带</div>
        <div class="option-list">
            <span class="option" ng-repeat="opt in climaticZoneOpts">
                <label>
                    <input type="checkbox" name="ClimaticZone" value="{{opt}}" ng-checked="params.ClimaticZone && params.ClimaticZone.indexOf(opt)>-1" ng-click="toggleClimaticZone(opt)" >{{opt}}
                </label>
            </span>
        </div>
    </div>
    <div class="divider"></div>
    <div class="search-row">
        <div class="title">体量</div>
        <div class="option-list">
            <span class="option" ng-repeat="opt in massOpts">
                <label>
                    <input type="checkbox" name="Mass" value="{{opt}}" ng-checked="params.Mass && params.Mass.indexOf(opt)>-1" ng-click="toggleMass(opt)">{{opt}}
                </label>
            </span>
        </div>
    </div>
    <div class="divider"></div>
    <div class="search-row">
        <div class="title">常绿</div>
        <div class="option-list">
            <span class="option" ng-repeat="opt in evergreenOpts">
                <label>
                    <input type="checkbox" name="Evergreen" value="{{opt}}" ng-checked="params.Evergreen && params.Evergreen.indexOf(opt)>-1" ng-click="toggleEvergreen(opt)">{{opt}}
                </label>
            </span>
        </div>
    </div>
    <div class="divider"></div>
    <div class="search-row">
        <div class="title">树形</div>
        <div class="option-list">
            <span class="option" ng-repeat="opt in treeFormOpts">
                <label>
                    <input type="checkbox" name="TreeForm" value="{{opt}}" ng-checked="params.TreeForm && params.TreeForm.indexOf(opt)>-1" ng-click="toggleTreeForm(opt)">{{opt}}
                </label>
            </span>
        </div>
    </div>
    <div class="divider"></div>
    <div class="search-row">
        <div class="title">肌理</div>
        <div class="option-list">
            <span class="option" ng-repeat="opt in skinTextureOpts">
                <label>
                    <input type="checkbox" name="SkinTexture" value="{{opt}}" ng-checked="params.SkinTexture && params.SkinTexture.indexOf(opt)>-1" ng-click="toggleSkinTexture(opt)">{{opt}}
                </label>
            </span>
        </div>
    </div>
    <div class="divider"></div>
    <div class="search-row">
        <div class="title">线条</div>
        <div class="option-list">
            <span class="option" ng-repeat="opt in linellaeOpts">
                <label>
                    <input type="checkbox" name="Linellae" value="{{opt}}" ng-checked="params.Linellae && params.Linellae.indexOf(opt)>-1" ng-click="toggleLinellae(opt)">{{opt}}
                </label>
            </span>
        </div>
    </div>
    <div class="divider"></div>
    <div class="search-row">
        <div class="title">主观赏性</div>
        <div class="option-list">
            <span class="option" ng-repeat="opt in mainOrnamentalOpts">
                <label>
                    <input type="checkbox" name="MainOrnamental" value="{{opt}}" ng-checked="params.MainOrnamental && params.MainOrnamental.indexOf(opt)>-1" ng-click="toggleMainOrnamental(opt)">{{opt}}
                </label>
            </span>
        </div>
    </div>
    <div class="divider"></div>
    <div class="search-row">
        <div class="title">叶色</div>
        <div class="option-list">
            <span class="color-select" name="LeafColor" ng-repeat="opt in leafColorOpts" ng-class="{checked: params.LeafColor && params.LeafColor.indexOf(opt.k)>-1}"
                  ng-click="toggleLeafColor(opt.k)" style="background-color: {{opt.v}};"></span>
        </div>
    </div>
    <div class="divider"></div>
    <div class="search-row">
        <div class="title">花色</div>
        <div class="option-list">
            <span class="color-select" name="FlowerColor" ng-repeat="opt in flowerColorOpts" ng-class="{checked: params.FlowerColor && params.FlowerColor.indexOf(opt.k)>-1}"
                  ng-click="toggleFlowerColor(opt.k)" style="background-color: {{opt.v}};"></span>
        </div>
    </div>
    <div class="divider"></div>
    <div class="search-row">
        <div class="title">花期</div>
        <div class="option-list">
            <span class="option" ng-repeat="opt in florescenceOpts">
                <label>
                    <input type="checkbox" name="Florescence" value="{{opt}}" ng-checked="params.Florescence && params.Florescence.indexOf(opt)>-1" ng-click="toggleFlorescence(opt)">{{opt}}
                </label>
            </span>
        </div>
    </div>
    <div class="divider"></div>
    <div class="search-row">
        <div class="title">喜光性</div>
        <div class="option-list">
            <span class="option" ng-repeat="opt in lightingConditionOpts">
                <label>
                    <input type="checkbox" name="LightingCondition" value="{{opt}}" ng-checked="params.LightingCondition && params.LightingCondition.indexOf(opt)>-1" ng-click="toggleLightingCondition(opt)">{{opt}}
                </label>
            </span>
        </div>
    </div>
    <div class="divider"></div>
    <div class="btn-bar">
        <button class="btn btn-primary" ng-click="ok()">确定</button>
        <button class="btn btn-secondary" ng-click="cancel()">取消</button>
    </div>
</div>