<div class="close-layer" ng-click="close()"><i></i></div>
<div class="pin-view">
    <div class="pin-view-wrapper">
        <div class="main-part">
            <div class="image-piece piece">
                <div class="tool-bar">
                    <a href="#" onclick="return false;" class="btn-like"></a>
                    <a href="#" onclick="return false;" class="btn-zoomin" ng-click="zoomIn()"></a>
                    <div class="right-part">
                        <!--
                        <div class="huaban-share-unit"><span>分享</span>
                            <div class="share-btns">
                                <a data-to="weibo" title="新浪微博" target="_blank" href="/pins/159900488/js-share/?to=weibo" class="share-btn weibo"></a>
                                <a data-to="qzone" title="QQ空间" target="_blank" href="/pins/159900488/js-share/?to=qzone"class="share-btn qzone"></a>
                                <a data-to="weixin" title="微信" target="_blank" href="/pins/159900488/js-share/?to=weixin" class="share-btn weixin"></a>
                                <div class="more"></div>
                            </div>
                            <div class="menu">
                                <a data-to="tqq" title="腾讯微博" target="_blank" href="/pins/159900488/js-share/?to=tqq" class="tqq"><i></i>腾讯微博</a>
                                <a data-to="qfriends" title="QQ好友" target="_blank" href="/pins/159900488/js-share/?to=qfriends" class="qq"><i></i>QQ 好友</a>
                                <a data-to="douban" title="豆瓣" target="_blank" href="/pins/159900488/js-share/?to=douban" class="douban"><i></i>豆瓣</a>
                                <a data-to="renren" title="人人网" target="_blank" href="/pins/159900488/js-share/?to=renren" class="renren"><i></i>人人网</a>
                                <div class="arr"></div>
                            </div>
                        </div>
                        <a href="" title="查看原图" class="zoomin btn-with-icon btn">
                            <i class="class"></i>
                        </a>
                        -->
                    </div>
                </div>
                <div class="main-image">
                    <div class="image-holder">
                        <a href="" target="_blank">
                            <img ng-src="{{currentTree.Pictures[0].URL}}" alt="" ng-click="zoomIn()">
                        </a>
                    </div>
                </div>
                <div class="tool-bar-bottom clearfix">
                    <div class="user-info">
                        <div class="media clearfix">
                            <a href="/users/{{currentTree.Uploader.UserId}}" class="media-object pull-left">
                                <img class="img avatar" ng-src="{{currentTree.Uploader.PortraitURL}}">
                            </a>
                            <a href="/users/{{currentTree.Uploader.UserId}}" class="media-body">
                                {{currentTree.Uploader.Name}}
                            </a>
                        </div>
                    </div>
                    <div class="like-count" href="#"><i></i>7</div>
                </div>
                <div class="extra-box">
                    详情描述
                    <p>中文名：{{currentTree.Base.Names.ChineseName}}</p>
                    <p>拉丁名：{{currentTree.Base.Names.LatinName}}</p>
                    <p>别名：{{currentTree.Base.Names.Alias}}</p>
                    <p>界：{{currentTree.Base.PlantKingdom.Cn}} {{currentTree.Base.PlantKingdom.En}}</p>
                    <p>门：{{currentTree.Base.Phylum.Cn}} {{currentTree.Base.Phylum.En}}</p>
                    <p>纲：{{currentTree.Base.Classes.Cn}} {{currentTree.Base.Classes.En}}</p>
                    <p>目：{{currentTree.Base.Order.Cn}} {{currentTree.Base.Order.En}}</p>
                    <p>科：{{currentTree.Base.Family.Cn}} {{currentTree.Base.Family.En}}</p>
                    <p>属：{{currentTree.Base.Genus.Cn}} {{currentTree.Base.Genus.En}}</p>
                    <p>种：{{currentTree.Base.Species.Cn}} {{currentTree.Base.Species.En}}</p>
                </div>
            </div>
            <div class="info-piece piece">
            </div>
            <div class="bottom-part" ng-show="currentTree.Similars.length > 0">
                <div class="pin-view-wrapper">
                    <div class="related-boards clearfix" style="display: block;">
                        <div class="title-el">你可能还感兴趣的...</div>
                        <div class="board-box clearfix">
                            <div masonry reload-on-show load-images="true" style="width:1000px;">
                                <div class="tree-item masonry-brick" ng-repeat="brick in currentTree.Similars">
                                    <div class="thumbnail">
                                        <div class="project-cover">
                                            <img ng-src="{{ brick.MainPictureURL }}" alt="A masonry brick">
                                            <div class="cover-mask">
                                                <p>中文名：{{brick.Names.ChineseName}}</p>
                                                <i class="btn-like liked"></i>
                                            </div>
                                        </div>
                                        <div class="item-info">{{brick.Names.ChineseName}}</div>
                                    </div>
                                    <div class="user-info">
                                        <div class="media clearfix">
                                            <a href="#" class="media-object pull-left">
                                                <img class="img avatar" ng-src="{{ brick.Uploader.PortraitURL }}">
                                            </a>
                                            <a href="#" class="media-body">{{ brick.Uploader.Name }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="side-part">
            <div class="board-piece piece">
                <h2>{{currentTree.Base.Names.ChineseName}}<span>{{currentTree.Base.Names.LatinName}}</span></h2>
                <div class="divider"></div>
                <div class="props">
                    <div class="prop-row"><span class="title" style="width:42px;">树形</span><i class="icon-leaf"></i></div>
                    <div class="prop-row"><span class="title">质感</span><span class="content">{{currentTree.Base.SkinTexture}}</span></div>
                    <div class="prop-row"><span class="title">观赏性</span><i class="icon-flower"></i></div>
                    <div class="prop-row"><span class="title">种类</span><span class="content">{{currentTree.Base.PlantType}}</span></div>
                </div>
                <div class="divider"></div>
                <div class="other-props">
                    <span class="title">其他特征</span>
                    <i class="icon-rain"></i>
                    <i class="icon-snow"></i>
                    <i class="icon-temp"></i>
                    <div class="more">更多<i class="icon-arrow"></i></div>
                </div>
                <div class="divider"></div>
            </div>
            <div class="senario-piece piece">
                <h3>应用场景<span>共5种</span></h3>
                <div class="scenario-list">
                    <div class="scenario"></div>
                </div>
                <div class="divider"></div>
            </div>
            <div class="download-piece piece">
                <h3>素材下载</h3>
                <div class="resource-list">
                    <div class="resource">
                        <div class="badge"></div>
                    </div>
                    <div class="more">更多格式敬请期待 ...</div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>

<div class="zoom-layer" ng-show="zoomed">
    <div class="holder">
        <img ng-src="{{currentTree.Pictures[0].URL}}">
    </div>
    <div class="close-zoom" ng-click="zoomOut()"></div>
</div>